<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ICR-TASK POLICY</title>

    <link rel="stylesheet" th:href="@{/css/policy.css}"/>
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}"/>
</head>
<body class="landing">
<div th:include="menu"></div>

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>Task Policy</h2>
        <p>Microservizio addetto alla gestione</p>
        <p>della politica di assegnazione dei Task</p>
    </div>
</section>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/js/skel.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<!--[if lte IE 8]>-->
<script th:src="@{/js/ie/respond.min.js}"></script>
<script th:src="@{/js/main.js}"></script>


</body>
</html>